#contenedor {
  border: 1px solid #aaa;
  background-color: #dddddd;
  margin: 0 auto;
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

#rojo {
  color: white;
  font-size: large;
  background-color: red;
  width: 20%;
  height: 33%;
  text-align: center;
}

#azul {
  color: white;
  font-size: large;
  background-color: blue;
  width: 20%;
  height: 33%;
  text-align: center;
}

#verde {
  color: white;
  font-size: large;
  background-color: green;
  width: 20%;
  height: 33%;
  text-align: center;
}
