<h2>Categorias</h2>
<div>
  <div>
    <h4>Escuelita</h4>
    <p>
      Nivel inicial de chicos entre 4 y 7 años de edad que comienzan a dar sus
      primeros pasos en esta disciplina.
    </p>
  </div>
</div>
<div>
  <div>
    <h4>Minibasquet</h4>
    <p>
      Categoría de chicos y chicas hasta los 12 años en la cual, se comienza a
      tomar conocimietos de fundamentos básicos del juego de una manera lúdica.
    </p>
  </div>
</div>