<div>
  <h2>Historia Albinegra</h2>
  <p>
    El CAE fue
    <strong>fundado</strong>
    el 05 de Mayo de 1905. Nuestro club nació para jugar al fútbol y su primer
    nombre fue “Estudiantes foot ball Club”.
  </p>
</div>