nav {
  background-color: orange;
  margin-bottom: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 16.3%;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.2em 0.4em;
}

nav ul li a:hover {
  background-color: gray;
  color: white;
  font-style: italic;
}
nav ul li a.activo {
  background-color: gray;
  color: orange;
  font-weight: bold;
}
